/* div.css */
.campo-group {
    margin: 0 auto;
    background-color: #f3eded;
    width:50%;
    padding:150px;
}

h4 {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
}




.campo-group label {

    text-align: left;
}

.campo-group .campo {
        border: 1px solid #ccc;
        border-radius: 4px;
}